  html{
      background-color: rgb(61, 5, 24);
  }
  
  h1 {
    color: white;
    text-align: center;
    font-family: American Typewriter;
    font-weight: bold;
    font-size: 20px;
  }

  p {
    font-family: American Typewriter;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
    color: white;
    margin-top: 100px;
    margin-bottom: 80px;
    margin-right: 100px;
    margin-left: 100px;
  }
 
  a:link {
    color: white;
    text-decoration: underline;
  }

  a:visited {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: red;
    text-decoration: none;
  }

  a:active {
    text-decoration: underline;
    color: hotpink;
  }

