  html{
      background-color: rgb(25, 25, 214);
  }
  
  h1 {
    color: white;
    text-align: center;
    font-family: American Typewriter;
    font-weight: bold;
    font-size: 40px;
  }

  p {
    font-family: American Typewriter;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
  }
 
  a:link {
    color: yellow;
    text-decoration: none;
  }

  a:visited {
    color: yellow;
    text-decoration: none;
  }

  a:hover {
    color: red;
    text-decoration: underline;
  }

/* selected link */
  a:active {
    text-decoration: underline;
    color: hotpink;
  }
