  html{
      background-color: rgb(3, 3, 66);
  }
  
  h1 {
    color: white;
    text-align: center;
    font-family: American Typewriter;
    font-weight: bold;
    font-size: 40px;
  }

  p {
    font-family: American Typewriter;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
  }
 
  a:link {
    color: white;
    text-decoration: underline;
  }

  a:visited {
    color: none;
    text-decoration: none;
  }

  a:hover {
    color: red;
    text-decoration: none;
  }

  a:active {
    text-decoration: underline;
    color: hotpink;
  }

 ul {
    list-style-type: none;
    font-family: American Typewriter;
    font-size: 25px;
  }

  li {
    float: left;
  }

  li a {
    color: yellow;
    text-align: center;
    padding: 50px;
    text-decoration: none;
  }
    div.a {
    text-indent: 25px;
    font-family: American Typewriter;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
  }
