  html{
      background-color: rgb(3, 3, 66);
  }
  
  h1 {
    color: white;
    text-align: center;
    font-family: American Typewriter;
    font-weight: bold;
    font-size: 40px;
  }

  p {
    font-family: American Typewriter;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
  }
 
  a:link {
    color: none;
    text-decoration: underline;
  }

  a:visited {
    color: none;
    text-decoration: none;
  }

  a:hover {
    color: red;
    text-decoration: none;
  }

  a:active {
    text-decoration: underline;
    color: hotpink;
  }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: American Typewriter;
    font-size: 25px;
    overflow: hidden;
    background-color: #333333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111111;
  }
