  html{
      background-color: rgb(61, 5, 24);
  }
  
  h1 {
    color: yellow;
    text-align: left;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    font-size: 15pt;
    margin-top: 50px;
    margun-right: 280px;
    margin-left: 280px;
  }

  p {
    font-family: 'Courier New', monospace;
    font-size: 15pt;
    font-weight: bold;
    text-align: justify;
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 280px;
    margin-left: 280px;
  }
 
  a:link {
    text-decoration: underline;
    color: white;
  }

  a:visited {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: red;
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
    color: hotpink;
  }
  footer {
    position: fixed;
    font-family: 'Courier New', monospace;
    font-weight: bold ;
    font-size: 15pt;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }
