html {
    /* BACKGROUND: #ebe8e1;*/
 height:100%;
}

body 
{
   font-family:"Constantia", Verdana, Tahoma, Arial, Helvetica, Verdana, sans-serif; 	 
   margin: 0 auto; 
   padding: 0px 0px 0px 0px; 
   font-size: 100%; 
   color: black;
   line-height:200%
}



a:link, a:visited, a:hover { text-decoration: underline; color: black; }
a.normal:link, a.normal:visited, a.normal:hover { text-decoration: underline; color: blue; }


.sh table
{
 border: 1px solid #666666;
 text-aling: center
}

.sh td
{
 border: 1px solid #aaa;
 text-aling: right;
}


#phon
{
 z-index:-1;	
 position:absolute;
 left:0px; top: 0px;
 width: 100%;
 padding-top: 120px;
 text-align: center;	
}

#junior,#postdoc
{
 width: 45%;
 padding-top: 150px;
 border:0px solid red;
 float: left;
 text-align: center;
 padding-bottom: 150px;	
}

#junior h2, #postdoc h2
{
 text-decoration: underline;
}

#postdoc
{
 float: right;
 padding-right: 0px;
}



#top
{
 position: fixed;
   top: 0;
   left: 0;
   z-index: 999;
   width: 100%;
   height: 110px;
 border: 1px solid #white;
 background-color: #bcb6e8e6;
}

*html #top 
{
 position: absolute;
}


#main {
position: relative;
z-index: 2;
padding-top: 120px;
line-height:200%;
}

*html #main {
z-index: 2;
overflow: auto;
overflow-y: scroll;
}


#bottom
{
 padding-top: 800px;
}


#face
{
     float: left;
     margin:0;
     padding:0;
     padding-left: 30px;
     background: url(../image/facebook.png)  no-repeat;	
}


#zap2
{
     float: left;
     margin:0;
     padding:0;
     padding-left: 30px;
     background: url(../image/zap.png)  no-repeat;	
}

#youtube
{
     float: left;
     margin:0;
     padding:0;
     padding-left: 30px;
     background: url(../image/youtube.png)  no-repeat;	
}



.title{
 margin:0;
 padding:0;
 padding-left: 600px;
 padding-right: 0px;
 border: 1px solid purple;
 background-color: mediumpurple; 
 color: white;	
}

.content
{
 border-bottom: 1px dotted #969696;
 padding-left: 40px;
 padding-top: 130px;
 padding-bottom: 100px;
}

.content h2
{
 width:100%;
 text-align: left;
 color: #666666;
}


.content h4
{
 width:100%;
 text-align: left;
 color: #7a7266;
}


.explain
{
 padding-left: 80px;
 padding-top: 0px;	
 margin-bottom: 20px;
 font-style: italic;
}

p.ab, p.ab2
{
 margin:0;
}

p.ab2
{
 display:none;	
}


.cl
{
clear:both
}

a.lec:link
{
 font-style:normal;
 color: black;
 float: left;
 padding-right: 10px;
 padding-left: 30px;
 padding-top: 0px;
 margin-top:0px;
 margin-bottom:10px;
 background: url(../iamge/pdf_small.png)  0px 7px no-repeat;	
}

a.show:link
{
 font-style:normal;
 color: black;
 float: left;
 padding-right: 15px;
 padding-left: 00px;
 margin-top:5px;
}


ul {list-style-type:none;}

#navigation ul
{
float:left; width: 100%; 
margin:0; padding:0px 25px 0px 30px;   
list-style-type:none; font-size:15px; 	
border-bottom: 1px solid #b6b6b6;   	
}	

#navigation ul li a
{
 display: inline;
 float:left;
     padding: 0;
 padding-left:105px; padding-right:105px;
 margin:0;
 text-decoration:none;
 color: black;
 text-align: center;
}


#navigation ul li a.active
{
float:left; 
background-color: black;
color: green;
}

#navigation ul li a:hover
{
 color: white;
background-color: mediumpurple;
}