body {
    background-color: rgb(11, 11, 143);
  }
  
  h1 {
    color: rgb(250, 0, 0);
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
  }

  h2 {
    color: rgb(225, 250, 0);
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
  }
  
  p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    color: white;
  }
