  html{
      background-color: rgb(25, 25, 214);
  }
  
  h1 {
    color: white;
    text-align: center;
    font-family: Courier
    font-size: 40px;
  }

  p {
    font-family: Courier
    font-size: 20px;
    text-align: center;
    color: white;
  }
  /* unvisited link */
  a:link {
    color: yellow;
    text-decoration: none;
  }

/* visited link */
  a:visited {
    color: yellow;
    text-decoration: none;
  }

/* mouse over link */
  a:hover {
    color: red;
    text-decoration: underline;
  }

/* selected link */
  a:active {
    text-decoration: underline;
    color: hotpink;
  }
