body {
  background-color: rgb(2, 0, 94);
 }
h1 {
  color: white;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-size: 40px;
 }
  
p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  text-align: center;
  color: white;
}
a:link {
  color: yellow;
}

/* visited link */
a:visited {
  color: yellow;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: hotpink;
}
